<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable Rewrite Module -->
        <rewrite>
            <rules>
                <!-- Redirect .php Files to index.php -->
                <rule name="Redirect PHP Files" stopProcessing="true">
                    <match url=".*\.php$" />
                    <action type="Rewrite" url="index.php" />
                </rule>

                <!-- Redirect Trailing Slashes If Not a Folder -->
                <rule name="Redirect Trailing Slashes" stopProcessing="true">
                    <match url="(.+)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Route All Other Requests to index.php -->
                <rule name="Route to Index" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>

                <rule name="Block /upload requests" stopProcessing="true">
                    <match url="^upload(/.*)?$" ignoreCase="true" />
                    <action type="Redirect" url="404" />
                </rule>
            </rules>
        </rewrite>
 <!-- Pass Authorization Header  -->
        <httpProtocol>
            <customHeaders>
                <add name="Authorization" value="{HTTP_AUTHORIZATION}" />
            </customHeaders>
        </httpProtocol>
        <httpErrors errorMode="Detailed" />
         <!-- Disable Directory Browsing  -->
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\servers_iis\php\php-cgi.exe" resourceType="Either" />
        </handlers>
       

    </system.webServer>
</configuration>
